/.idea/*

/node_modules
/app_server/config/auth.js
# Logs
logs
*.log
npm-debug.log*
.env

node-tests

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

