body {
    background: #f2f2f2;
    font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 60px 20px 0;
}

.navbar-brand-text {
    color: #fff;
}

.form-signin {
    max-width: 450px;
    padding: 15px;
    margin: 50px auto 0;
}

.form-signin .form-signin-heading, .form-signin {
    margin-bottom: 10px;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-surround .form-signin input[type="text"] {
    border-radius: 5px;
}

.form-surround .form-signin input[type="password"] {
    border-radius: 5px;
}

.form-surround {
    background: #fff;
    border-radius: 2px;
    position: relative;
    border: 1px solid black;
    width: 500px;
    margin: 50px auto 0 auto;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media only screen and (max-width: 500px) {
    .form-surround  {
        width:100%;
    }
}

.form-surround h3 {
    text-align: center;
    margin: 0;
    font-family: "Arial Black", Gadget, sans-serif;
}

footer {
    height: 50px; /* Height of the footer */
    background: #000;
    width: 100%;
}

h1.title {
    font-size: 50px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
}

hr {
    width: 10%;
    color: #fff;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.form-control {
    height: auto !important;
    padding: 8px 12px !important;
}

.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21) !important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21) !important;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21) !important;
    width: 100%;
}


.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.btn-google-plus {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-google-plus:hover, .btn-google-plus:focus, .btn-google-plus:active, .btn-google-plus.active, .open .dropdown-toggle.btn-google-plus {
    color: #fff;
    background-color: #ca3523;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-google-plus:active, .btn-google-plus.active, .open .dropdown-toggle.btn-google-plus {
    background-image: none
}

.nav-time span{
    color: white;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
    margin-right: 100px;
}

.nav-time:hover{
    text-decoration: none;
    color: white;
}

.rcactive, .rcinactive {
    font-size:49px;
    cursor:pointer;
}

.rcactive, .rcinactive {
    font-size:49px;
    cursor:pointer;
}

i.rcactive {
    color: #5cb85c;
}
i.rcinactive{
    color: #d9534f;
}

.relayBtnText {
    font-size: 20px;
    padding-top: 10px;
}
.relayBtnText {
    font-size: 20px;
    padding-top: 10px;
}

.current-reading-title{
    text-align: center;
    padding-bottom: 20px;
}

.current-reading-value{
    text-align: center;
    font-size: 20px;
    font-family: "Arial", Gadget, sans-serif;
    padding-bottom: 10px;
}

img.current-reading-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0 10px 0;
    height: 125px;
    width: 100px;
}



