<div id="index" ng-controller="mainController" ng-init="setString('{{id}}')">
    <span class="hidden">index page</span>
</div>


    <div class="row">
        <div class="col-sm-12 col-md-4" ng-controller="Weather">
            <div class="chart-wrapper">
                <div class="chart-title">
                    <strong>{[{message}]}</strong>
                </div>
                <div class="chart-stage" style="padding: 0; border: 0; margin: 0">
                    <div class="col-md-4">
                        <img ng-src="{[{weatherIcon}]}" style="height: 180px; width: 200px;"/>
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <table class="col-xs-12 col-md-8 table .table-sm table-striped">
                            <tbody style="padding: 0;">
                            <tr>
                                <td><strong>Conditions</strong></td>
                                <td>{[{description}]}</td>
                            </tr>
                            <tr>
                                <td><strong>Minimum temperature</strong></td>
                                <td>{[{minTemperature}]}</td>
                            </tr>
                            <tr>
                                <td><strong>Maximum temperature</strong></td>
                                <td>{[{maxTemperature}]}</td>
                            </tr>
                            <tr>
                                <td><strong>Current Temperature</strong></td>
                                <td>{[{currentTemperature}]}</td>
                            </tr>
                            <tr style="padding: 0;">
                                <td><strong>Wind speed</strong></td>
                                <td>{[{wind}]}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-12 col-md-2 relayControl" ng-controller="RelayControl" ng-init="init()">
            <div class="chart-wrapper">
                <div class="chart-title">
                    <strong>Relay Control</strong>
                </div>
                <div class="chart-stage">
                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            <p class="relayBtnText">Relay 1</p>
                        </div>
                        <div class="col-xs-6">
                            <i class="fa fa-toggle-on rcactive" ng-if="relays[0] == true" ng-click="changeStatusBtn1();"></i>
                            <i class="fa fa-toggle-on fa-rotate-180 rcinactive" ng-if="relays[0] == false" ng-click="changeStatusBtn1();"></i>
                        </div>
                    </div>
                    <div class="col-xs-12" >
                        <div class="col-xs-6">
                            <p class="relayBtnText">Relay 2</p>
                        </div>
                        <div class="col-xs-6">
                            <i class="fa fa-toggle-on rcactive" ng-if="relays[1] == true" ng-click="changeStatusBtn2();"></i>
                            <i class="fa fa-toggle-on fa-rotate-180 rcinactive" ng-if="relays[1] == false" ng-click="changeStatusBtn2();"></i>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            <p class="relayBtnText">Relay 3</p>
                        </div>
                        <div class="col-xs-6">
                            <i class="fa fa-toggle-on rcactive" ng-if="relays[2] == true" ng-click="changeStatusBtn3();"></i>
                            <i class="fa fa-toggle-on fa-rotate-180 rcinactive" ng-if="relays[2] == false" ng-click="changeStatusBtn3();"></i>
                        </div>
                    </div>
                    <div class="col-xs-12" >
                        <div class="col-xs-6">
                            <p class="relayBtnText">Relay 4</p>
                         </div>
                        <div class="col-xs-6">
                            <i class="fa fa-toggle-on rcactive" ng-if="relays[3] == true" ng-click="changeStatusBtn4();"></i>
                            <i class="fa fa-toggle-on fa-rotate-180 rcinactive" ng-if="relays[3] == false" ng-click="changeStatusBtn4();"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="chart-wrapper">
                <div class="chart-title">
                </div>
                <div class="chart-stage">
                    <img data-src="holder.js/100%x120/white">
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-sm-12 col-md-6" ng-controller="Room1Light">
        <div class="chart-wrapper">
            <div class="chart-title">
                <strong>{[{message}]}</strong>
            </div>
            <div class="chart-stage" ng-if="includeMobileTemplate">
                <canvas class="chart chart-line" chart-data="data" chart-labels="labels" height="80" width="100"
                        chart-series="series" chart-click="onClick"></canvas>
            </div>
            <div class="chart-stage" ng-if="includeDesktopTemplate">
                <canvas class="chart chart-line" chart-data="data" chart-labels="labels" height="25" width="100"
                        chart-series="series" chart-click="onClick"></canvas>
            </div>
            <div class="chart-title text-center">
                <div class="btn-group">
                    <button type="button" ng-model="activeCustomer" value="active" ng-click="dayData()"
                            class="btn btn-default active">Day
                    </button>
                    <button type="button" ng-model="activeCustomer" value="inactive" ng-click="monthData()"
                            class="btn btn-default">Month
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6" ng-controller="Room1Temp">
        <div class="chart-wrapper">
            <div class="chart-title">
                <strong>{[{message}]}</strong>
            </div>
            <div class="chart-stage" ng-if="includeMobileTemplate">
                <canvas class="chart chart-line" chart-data="data" chart-labels="labels" height="80" width="100"
                        chart-series="series" chart-click="onClick"></canvas>
            </div>
            <div class="chart-stage" ng-if="includeDesktopTemplate">
                <canvas class="chart chart-line" chart-data="data" chart-labels="labels" height="25" width="100"
                        chart-series="series" chart-click="onClick"></canvas>
            </div>
            <div class="chart-title text-center">
                <div class="btn-group">
                    <button type="button" ng-model="activeCustomer" value="active" ng-click="dayData()"
                            class="btn btn-default active">Day
                    </button>
                    <button type="button" ng-model="activeCustomer" value="inactive" ng-click="monthData()"
                            class="btn btn-default">Month
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-12 col-md-6" ng-controller="Room2Humid">
        <div class="chart-wrapper">
            <div class="chart-title">
                <strong>{[{message}]}</strong>
            </div>
            <div class="chart-stage" ng-if="includeMobileTemplate">
                <canvas class="chart chart-line" chart-data="data" chart-labels="labels" height="80" width="100"
                        chart-series="series" chart-click="onClick"></canvas>
            </div>
            <div class="chart-stage" ng-if="includeDesktopTemplate">
                <canvas class="chart chart-line" chart-data="data" chart-labels="labels" height="25" width="100"
                        chart-series="series" chart-click="onClick"></canvas>
            </div>
            <div class="chart-title text-center">
                <div class="btn-group">
                    <button type="button" ng-model="activeCustomer" value="active" ng-click="dayData()"
                            class="btn btn-default active">Day
                    </button>
                    <button type="button" ng-model="activeCustomer" value="inactive" ng-click="monthData()"
                            class="btn btn-default">Month
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6" ng-controller="Room2Temp">
        <div class="chart-wrapper">
            <div class="chart-title">
                <strong>{[{message}]}</strong>
            </div>
            <div class="chart-stage" ng-if="includeMobileTemplate">
                <canvas class="chart chart-line" chart-data="data" chart-labels="labels" height="80" width="100"
                        chart-series="series" chart-click="onClick"></canvas>
            </div>
            <div class="chart-stage" ng-if="includeDesktopTemplate">
                <canvas class="chart chart-line" chart-data="data" chart-labels="labels" height="25" width="100"
                        chart-series="series" chart-click="onClick"></canvas>
            </div>
            <div class="chart-title text-center">
                <div class="btn-group">
                    <button type="button" ng-model="activeCustomer" value="active" ng-click="dayData()"
                            class="btn btn-default active">Day
                    </button>
                    <button type="button" ng-model="activeCustomer" value="inactive" ng-click="monthData()"
                            class="btn btn-default">Month
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
